<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <!-- Global CSS -->
    <link rel="stylesheet" href="app.css" />

    <!-- CSS isolation bundle  -->
    <link rel="stylesheet" href="RealEstateCMS.styles.css" />

    <HeadOutlet />
</head>

<body>
<Routes />
<script src="_framework/blazor.web.js"></script>
</body>
</html>