@typeparam TEntity

<PageTitle>@Title</PageTitle>

<div class="page-header">
    <h1>@Title</h1>
</div>

@if (Entity == null)
{
    <p class="loading">Se încarcă...</p>
}
else
{
    <div class="form-container">
        @ChildContent
    </div>
}

@code {
    [Parameter] public string Title { get; set; } = string.Empty;
    [Parameter] public TEntity? Entity { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
